<mat-card>
    <mat-card-title>Alterar Jogo</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Titulo" [(ngModel)]="game.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Resumo</mat-label>
            <textarea matInput [(ngModel)]="game.summary" name="summary"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Desenvolvedor" [(ngModel)]="game.developer" name="developer">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gênero</mat-label>
            <mat-select [(ngModel)]="game.genre" name="genre">
                <mat-option *ngFor="let genre of genres" [value]="genre">
                    {{ genre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Image Upload Field -->
        <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" accept="image/*" />
        <img [src]="game.imgPath" height="200" *ngIf="game.imgPath">
    </form>
    <button mat-raised-button (click)="updateGame()" color="primary">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>