<div class="row" class="background-green">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
            </div>
            <div class="col-md-8 text-center">
                <img src="../../../assets/images/logo.png" alt="logo" width="100" height="100">
                <h1 class="title-navbar">Chef's Menu</h1>
                <h6 class="title-navbar">Delícias artesanais</h6>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" [routerLink]="['/carShopping']">
                    Meus pedidos 
                    <span class="badge badge-light">
                        <i class="fas fa-shopping-cart"></i>

                    </span>
                </button><br><br>

                <button type="button" class="btn btn-info" [routerLink]="['/requests']">Caixa</button>
            </div>
        </div>
    </div>
</div>