<div class="content homePrincipal" *ngIf="!showNotes">
  <div class="container" style="max-width: 100%;">
    <div class="row">
      <div class="col-md-3">
        <h1>{{ title }}</h1>
        <h3>Cadastrar Turmas</h3>
      </div>
      <div class="col-md-9" style="text-align: right; padding: 10px 10px 0 0;" *ngIf="listaTurma.length > 0">
        <button class="btn btn-success" (click)="consultaTurmas()">Consultar turmas cadastradas</button>
      </div>
    </div>
    <hr>
    <form #form="ngForm">
      <div class="row mb-xlg">
        <div class="col-md-3">
          <div class="form-group">
            <label>Codigo da Turma</label>
            <input type="text" class="form-control" name="codigoTurma" [(ngModel)]="codigoTurma">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Disciplina da Turma</label>
            <select class="custom-select" name="opcaoDisciplina" [(ngModel)]="escolhaDisciplina">
              <option *ngFor="let disciplina of listaDisciplinas" [ngValue]="disciplina">{{ disciplina.nome }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Aluno</label>
            <select class="custom-select" name="opcaoAluno" [(ngModel)]="selecaoAluno">
              <option *ngFor="let aluno of listaAluno" [ngValue]="aluno">{{ aluno.nome }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-ggg mb-xlg">
        <div class="col-md-3">
          <button type="button" class="btn btn-primary" [disabled]="!validaFormulario()" (click)="matricular()">Matricular</button>
        </div>
        <div class="col-md-9" style="text-align: right;">
          <button type="button" class="btn btn-success" [disabled]="listaAlunosTurma.length == 0" (click)="fecharTurma()">Fechar Turma</button>
        </div>
      </div>
    </form>

    <br>
    <div class="row mt-xlg tabela">
      <table>
        <thead>
          <tr>
            <th>Matricula</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of listaAlunosTurma">
            <td>{{ aluno.nroMatric }}</td>
            <td>{{ aluno.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Tela que será exibida o relatório de Turmas -->
<div class="col-md-12" *ngIf="showNotes">
  <h3>Consultar turma</h3>

  <div class="row mb-xlg">
    <div class="col-md-3">
      <div class="form-group">
        <label>Codigo da turma</label>
        <input type="text" class="form-control" name="codigoTurma" [(ngModel)]="codigoTurma">
      </div>
    </div>
    <div class="col-md-3 mt-buttonConsulta">
      <button class="btn btn-primary" (click)="verificarTurma()" [disabled]="codigoTurma==null">Consultar</button>
    </div>
  </div>
  <hr>

  <div class="row mt-xlg" *ngIf="consultaRelatorio!=undefined">
    <div class="card itemRelatorio">
      <div class="card-header">
        <h6>Codigo Turma: {{ consultaRelatorio.codigo }}</h6>
        <h6>Disciplina: {{ consultaRelatorio.discipTurma.nome }}</h6>
        <h6>Lista de Alunos: </h6>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Matricula</th>
                <th>Aluno</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of consultaRelatorio.listaAlunos">
                <td>{{ aluno.nroMatric }}</td>
                <td>{{ aluno.nome }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div style="float: right; padding: 5px 0 15px 0;">
    <button type="button" class="btn btn-primary" (click)="back()">Voltar</button>
  </div>
</div>