<div class="container">
    <h1>
        {{ title }}!
    </h1>
    <h3> {{ authors }} </h3>

    <hr/> {{ orderForm.value | json }}
    <br/> Data from order model {{ orderModel | json }}


    <hr/> Confirm: {{ confirm_msg }} <br/>
    <hr/>


    <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm.value)">
        <div class="form-group">
            <label>Name: </label>
            <input type="text" class="form-control" name="name" [(ngModel)]="orderModel.name">
        </div>

        <div class="form-group">
            <label>Email: </label>
            <input type="email" [(ngModel)]="orderModel.email" class="form-control" name="email">
        </div>

        <div class="form-group">
            <label>Phone: </label>
            <input type="tel" class="form-control" name="phone" [(ngModel)]="orderModel.phone">
        </div>

        <div class="form-group">
            <select class="custom-select" [(ngModel)]="orderModel.drink" name="drink_option">
      <option value="">What would you like to drink? </option>
      <option *ngFor="let drink of drinks"> {{ drink }}
      </option>
    </select>
        </div>

        <div class="form-group">
            <label>Hot or cold?</label>
            <div class="form-check">
                <input [(ngModel)]="orderModel.tempPreference" class="form-check-input" type="radio" name="tempPreference" value="hot">
                <label class="form-check-label">Hot</label>
            </div>
            <div class="form-check">
                <input [(ngModel)]="orderModel.tempPreference" class="form-check-input" type="radio" name="tempPreference" value="cold">
                <label class="form-check-label">Cold</label>
            </div>
        </div>

        <div class="form-check mb-3">
            <input [(ngModel)]="orderModel.sendText" class="form-check-input" type="checkbox" name="sendmsg">
            <label class="form-check-label">Send me a text message when my order is ready </label>
        </div>

        <button type="submit" class="btn btn-primary" (click)="confirmOrder(orderForm.value)" title="always enabled">Place order</button>


    </form>

</div>