table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 15px;
}

button { 
    border: none;
    background-color: white;
}

button:focus {
    border-style: none;
}

button:checked { 
    border: none;
    background-color: white;
}

.texto {
    font-size: xx-large;
}

.img150 {
    max-width: 150px;
    max-height: 150px;
}

.img100{
    max-width: 150px;
    max-height: 150px;
}

.img50 {
    max-width: 50px;
    max-height: 50px;
}

div img {
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}