<div class="content homePrincipal">
  <div class="container" style="max-width: 100%;">
    <h2>{{ title }}</h2>
    <hr>
    <form #orderForm="ngForm">
      <div class="row mb-xlg">
        <div class="col-md-3">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nomeCliente" [(ngModel)]="nomeCliente">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Produto</label>
            <select class="custom-select" name="opcaoProduto" [(ngModel)]="produtoComprado">
              <option *ngFor="let produto of produtos" [ngValue]="produto">{{ produto.descricao }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Quantidade desejada</label>
            <input type="text" class="form-control" name="quantidade" [(ngModel)]="quantidade">
          </div>
        </div>
      </div>
      <div class="row mt-xlg mb-xlg">
        <div class="col-md-3">
          <button class="btn btn-primary" (click)="incluirItem()">Inclui item</button>
        </div>
        <div class="col-md-9" style="text-align: right;">
          <button class="btn btn-success" (click)="fecharNota()">Fecha Nota</button>
        </div>
      </div>
      <div class="row mb-xlg mt-xlg">
        <div class="col-md-12" style="text-align: right;">
          <button class="btn btn-secondary" (click)="novaNota()">Nova Nota</button>
        </div>
      </div>
    </form>

    <hr>

    <h2>{{ nomeClienteTabela }}</h2>
    <br> 
    <div class="row mt-xlg tabela">
        <table>
          <thead>
            <tr>
              <th>Codigo Produto</th>
              <th>Descrição Produto</th>
              <th>Valor Unitário</th>
              <th>Valor do desconto</th>
              <th>Qtd Vendida</th>
              <th>Valor total com desconto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of tabela">
              <td>{{ i.produto.codigo }}</td>
              <td>{{ i.produto.descricao }}</td>
              <td>{{ i.produto.valorUnitario }}</td>
              <td>{{ i.produto.desconto }}</td>
              <td>{{ i.qtd }}</td>
              <td>{{ i.totalItem }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">Total da Nota</td>
              <td class="totalGeral">{{ confirm_msg }}</td>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>
</div>