.top{
    margin-top: 30px;
}
.description{
    color: rgb(127, 143, 159);
    font-size: 14px;
}
.hover-product{
    text-decoration: none;
    color: inherit;
}
.hover-product:link {
    text-decoration: none;
    color: inherit;
}
.hover-product:visited {
    text-decoration: none;
}
.hover-product:active {
    text-decoration: none;
}