table {
    width: 100%;
    margin-top: 30px;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}


td:first-child:nth-last-child(3) {
    width: calc(100%/3);
}

td:first-child:nth-last-child(2) {
    width: calc(100%/2);
}
